<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

<style>
    .body{
        background-image: url(https://img.freepik.com/free-photo/graduation-high-school-university-concept-space-text_185193-110731.jpg?t=st=1710756624~exp=1710760224~hmac=ce245beb3b8e3093c130c2edd56ab22054191c11fa46a1f32f008e199fb172c4&w=360);
        }
    
</style>
</head>
<body class="body">
    <center>
    <h1><p><strong><u>EDUCATION LOAN</u></strong></p></h1>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1y9uYWuGBorYoclx6Es-5RiOEIrUIwlAYBQ&usqp=CAU" width="300px", height="300px">
</center>
<p><strong><h2> "Unlock the door to your future with our tailored education loans. From tuition fees to study abroad expenses, we're here to support your academic journey every step of the way. With low interest rates and flexible repayment options, pursuing higher education has never been more accessible. Invest in your potential today with PK LOANS."</h2></strong></p>
    <P><strong>RATE OF INTEREST:</strong>3-7% / 10-15%</P>
    <P><strong>LOAN AVAILABLE:</strong>15</P>
    <P><strong>CREDIT SCORE:</strong>NO NEED OF CREDIT SCORE</P>
    <P><strong>UNIVERSITY/ STREAM:</strong>REQUIRED</P>
    <P><strong>PROPERTY:</strong>COLLATERAL / NON-COLLATERAL</P>
    <P><STRONG>OFFER LETTER:</STRONG>REQUIRED</P>
    
    <center><button> <a href=http://127.0.0.1:8000/details/ >PROCEED</a></button></center>
</body>
</html>