<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

<style>
    .body{
        background-image: url(https://img.freepik.com/premium-photo/front-view-arrangement-coins-with-red-car_23-2148783026.jpg?w=996);
        }
    
</style>
</head>
<body class="body">
    <center>
    <h1><p><u><strong>VEHICLE LOAN</strong></u></h1>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRM9nyvAjTnZTrzHwZTz3mohzSVDEObDPYKyw&usqp=CAU" width="300px", height="200px">
        </center>
        <p><strong><h2> "Hit the road in style with our seamless vehicle loans. From sleek sedans to rugged SUVs, our competitive rates and fast approval process make owning your dream ride a breeze. With flexible repayment options and personalized service, trust [Bank Name] to put you in the driver's seat. Start your journey today!"</h2></strong></p>
        <p><strong>RATE OF INTEREST:</strong>10-20%</p>
        <P><strong>LOAN AVAILABLE:</strong>8</P>
        <P><strong>CREDIT SCORE:</strong>MUST BE ABOVE 750</P>
        <p><strong>TYPE OF VEHICLE:</strong>TWO WHEELER / FOUR WHEELER</p>
        <P><strong>LOAN TYPE:</strong>2 Yrs EMI / 4 Yrs EMI / 6 Yrs EMI</P>
        <center><button> <a href=http://127.0.0.1:8000/details/ >PROCEED</a></button></center>
</body>
</html>